<div class="d-flex justify-content-center  align-items-center r-form">
  <div class="form-group col-lg-4 col-md-4 col-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Name">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Surname">
      <label for="floatingInput">Surname</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn col-lg-12 submit mt-3 col-md-12 col-12">Submit</button>
</div>
</div>
